body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  #resultado {
    font-weight: bold;
  }

  .modal-header{
background-color: blue;
background-repeat:no-repeat;
background-attachment:fixed;
background-size: 100%;
}


